/* 3dprint_game/css/main.css */

body {
	background-color: lightblue;
}

.outer {
	border: 1px black solid;
	height: 95%;
	width: 95%;
}

.leftbar {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 10%
}

.leftbar .menu {
	border: 1px darkgreen solid;
	color: darkgreen;
	font-weight: bold;
	margin: 1px;
	text-align: center;
}

.leftbar .data {
	border: 1px black solid;
	color: purple;
	font-weight: bold;
	margin: 1px;
	text-align: center;
}

.blocks {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 89%;
}

.announce {
	border: 1px red solid;
	float: left;
	height: 20px;
	margin: 1px;
	width: 89%;
}

.block {
	border: 1px black solid;
	float: left;
	height: 24%;
	margin: 1px;
	min-height: 75px;
	text-align: center;
	vertical-align: middle;
	width: 19%;
}

/* @todo: _blank is not actually being used at the moment */
.type_blank {
	background-color: lightgrey;
}

.type_build {
	background-color: lightgreen;
}

.type_print {
	background-color: lightgrey;
}

/* @todo: other types go here */

.block .type {
	color: darkgreen;
}

.block .running {
	color: red;
}

.block .input {
	color: darkred;
}

.block .output {
	color: orange;
}

.block .time {
	color: darkblue;
}

.block .auto {
	color: darkgrey;
}

.chooser {
	background-color: lightgreen;
	border: 2px solid green;
	display: none;
	height: 100px;
	margin: 15% 40%;  /* why does 'auto' not work? */
	position: absolute;
	width: 250px;
	z-index: 100;
}

.chooser .header {
	text-align: center;
}

.chooser .body {
	text-align: center;
}
