/* 3dprint_game/css/main.css */

body {
	background-color: lightblue;
}

.menubar {
	border: 1px green solid;
	height: 2em;
	width: 95%;
}

.menubar .menu {
	border: 1px darkgreen solid;
	color: darkgreen;
	font-weight: bold;
	float: left;
	margin: 5px;
	padding: 1px;
	text-align: center;
}

.outer {
	border: 1px black solid;
	height: 95%;
	width: 95%;
}

.leftbar {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 10%
}

.leftbar .meter {
	border: 1px black solid;
	color: purple;
	font-weight: bold;
	margin: 1px;
	text-align: center;
}

.leftbar .meter.zero {
	border: 1px grey dashed;
	color: grey;
	font-size: 0.5em;
	font-weight: normal;
}

.blocks {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 89%;
}

.announce-block {
	border: 1px red solid;
	float: left;
	width: 89%;
}

.announce {
	border: 1px red solid;
	height: 20px;
	margin: 1px;
	width: 99.5%;
}

.block_group {
	border: 1px black solid;
	float: left;
	margin: 1px;
	text-align: center;
	vertical-align: middle;
	width: 99%;
}

.block_group.hide {
	display: none;
	/* rest of these are no longer needed: */
	border: 1px grey dashed;
	color: grey;
	font-size: 0.5em;
	font-weight: normal;
}

.block_row {
	border: 1px black solid;
	float: left;
	height: 24%;
	margin: 1px;
	min-height: 75px;
	text-align: center;
	vertical-align: middle;
	width: 99%;
}

.block {
	border: 1px black solid;
	float: left;
	height: 24%;
	margin: 1px;
	min-height: 75px;
	text-align: center;
	vertical-align: middle;
	width: 19%;
}

.type_empty   { background-color: lightgrey;	}
/* other types alphabetical */
.type_build   { background-color: royalblue;	}
.type_buyer   { background-color: #ffff66;		} /* light yellow */
.type_extrude { background-color: white;		}
.type_print   { background-color: pink;			}
.type_recycle { background-color: lightgreen;	}
.type_ship    { background-color: tan;			}
.type_shred   { background-color: thistle;		} /* light purple */

/* @todo: other types go here */

.block .type {
	color: darkgreen;
}

.block .running {
	color: red;
}

.block .input {
	color: darkred;
}

.block .output {
	color: orange;
}

.block .time {
	color: darkblue;
}

.block .automate {
	color: darkgrey;
}

.block .autorun {
	color: darkgrey;
}

/* slider switch CSS from W3Schools:
 * https://www.w3schools.com/howto/howto_css_switch.asp
 * ... then alphabetized
 */

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: pink;		/* 3Dp: background-color: #ccc; */
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  background-color: red;		/* 3Dp: background-color: white; */
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  -webkit-transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;		/* 3Dp: box-shadow: 0 0 1px #2196F3; */
}

input:checked + .slider:before {
  background-color: mediumblue;		/* 3Dp: --- */
  transform: translateX(26px);
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
 * some additions for colorizing switches under certain circumstances
 */

.block.type_empty .automate,
.block.type_empty .autorun,
.block.type_empty .running,
.block.type_empty .input,
.block.type_empty .time,
.block.type_empty label.switch {
	visibility: hidden;
}

/* colors when switch is INVALID: */
.block.automate_off label.switch.autorun .slider {
    background-color: darkgray;
    /* NB: 'gray' is darker than 'darkgray' for some reason */
}

.block.automate_off label.switch.autorun .slider:before {
    background-color: gray;
}

.block.automate_off label.switch.autorun input:focus + .slider {
    box-shadow: 0 0 1px gray;
}

/*
 * Chooser CSS section
 */

.chooser {
	background-color: lightgreen;
	border: 2px solid green;
	display: none;
	height: 100px;
	margin: 15% 40%;
	position: absolute;
	width: 250px;
	z-index: 100;
}

.chooser .header {
	text-align: center;
}

.chooser .body {
	text-align: center;
}

.chooser .footer .button {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-weight: bold;
	height: 2em;
	margin: 0.5em;
	padding: 0.1em;
	text-align: center;
	width: 100px;
}

.chooser .button #ok {
	background-color: lightgreen;
}

.chooser .button #cancel {
	background-color: pink;
}
