/* 3dprint_game/css/main.css */

body {
	background-color: lightblue;
}

div.outer {
	border: 1px black solid;
	height: 95%;
	width: 95%;
}

div.leftbar {
	border: 1px black solid;
	float: left;
	height: 100%;
	width: 10%
}

div.main {
	border: 1px black solid;
	float: left;
	height: 100%;
	width: 90%;
}