/* 3dprint_game/css/main.css */

body {
	background-color: lightblue;
}

div.outer {
	border: 1px black solid;
	height: 95%;
	width: 95%;
}

div.leftbar {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 10%
}

div.main {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 89%;
}

div.block {
	border: 1px red solid;
	float: left;
	height: 100px;
	margin: 1px;
	width: 100px;
}