/* 3dprint_game/css/main.css */

body {
	background-color: lightblue;
}

.outer {
	border: 1px black solid;
	height: 95%;
	width: 95%;
}

.leftbar {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 10%
}

.leftbar .data {
	color: purple;
	font-weight: bold;
}

.main {
	border: 1px black solid;
	float: left;
	height: 99%;
	margin: 1px;
	width: 89%;
}

.block {
	border: 1px black solid;
	float: left;
	height: 24%;
	margin: 1px;
	text-align: center;
	width: 19%;
}